@import './css/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: hidden;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 92vh;
  background: #121212;
  overflow: hidden;
  background-repeat: no-repeat;
  color: #FFFFFF;
}


.card {
  background: linear-gradient(125.79deg, #422CEA 2.32%, #B8B9EB 100%); 
  padding: 3rem;
  width: 50rem;
  border-radius: 5px;
}